body {
    background-color: rgb(40, 40, 40);
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background-color: #b7b7a4;
    border-radius: 10px;
    border-right: 2px solid rgb(40, 40, 40);
}